{% load static %}
<div class="card mb-4 text-dark border-light bg-light">
    <p class="pt-2">
    На просторах интернета много споров о том, какой модуль выбирать для разработки оконного приложения.
    Несомненно, PySimpleGUI заслуживает внимания. Домашняя страница модуля
    <a href="https://github.com/PySimpleGUI/PySimpleGUI">здесь</a> или
    <a href="https://pysimplegui.readthedocs.io/">здесь</a>.
    Устанавливается командой:
    </p>
    <pre><code class="shell"><span class="badge float-right text-warning p-0">terminal</span>
    pip install PySimpleGUI
    </code></pre>
    <p>
    Для начала, как обычно, сделаем необходимые импорты.
    </p>
    <pre><code class="python"><span class="badge float-right text-warning p-0">python</span>
    import PySimpleGUI as sg
    import numpy as np
    import os
    </code></pre>
    <p>
    Полдела сделано - идем дальше. Добавим в код необходимые переменные, словари, списки и массивы.
    </p>
    <pre><code class="python"><span class="badge float-right text-warning p-0">python</span>
    COLORS = ('gold', 'coral3', 'gray85')
    player = ["White's", "Black's"]
    dl = {'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5, 'g': 6, 'h': 7}
    dn = {'1': 7, '2': 6, '3': 5, '4': 4, '5': 3, '6': 2, '7': 1, '8': 0}

    wp, bp = "\u2659", "\u265F"
    wr, br = "\u2656", "\u265C"
    wk, bk = "\u2658", "\u265E"
    wb, bb = "\u2657", "\u265D"
    wq, bq = "\u2655", "\u265B"
    wK, bK = "\u2654", "\u265A"
    s, sp = ' ', ''

    chessman = np.array([
        [s, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', s],
        ['8', br, bk, bb, bq, bK, bb, bk, br, '8'],
        ['7', bp, bp, bp, bp, bp, bp, bp, bp, '7'],
        ['6', sp, sp, sp, sp, sp, sp, sp, sp, '6'],
        ['5', sp, sp, sp, sp, sp, sp, sp, sp, '5'],
        ['4', sp, sp, sp, sp, sp, sp, sp, sp, '4'],
        ['3', sp, sp, sp, sp, sp, sp, sp, sp, '3'],
        ['2', wp, wp, wp, wp, wp, wp, wp, wp, '2'],
        ['1', wr, wk, wb, wq, wK, wb, wk, wr, '1'],
        [s, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', s]
    ], dtype=str)
    </code></pre>
    <p>
    COLORS содержит цвета для полей шахматной доски, с помощью списка player будем выводить подсказку - какие фигуры
    ходят, словари dl и dn помогут преобразовать буквы и цифры хода в индексы массива. Символы юникода с шахматными
    фигурами положим в соответствующие переменные и создадим массив chessman, в котором эти фигуры разместим в том же
    порядке, в котором они размещены на шахматной доске.<br>
    Далее создадим список layout, в котором будут размещаться виджеты и их аргументы. Это особенность модуля
    PySimpleGUI.
    </p>
    <pre><code class="python"><span class="badge float-right text-warning p-0">python</span>
    layout = [[sg.Frame(
    title='', border_width=20, relief='raised', background_color='gray',
    layout=[[sg.Text(
        text=value, size=(2, 1), justification='center', relief='raised',
        border_width=2, pad=(1, 1), font='arial 28', key=index,
        background_color=COLORS[2 if value not in chessman[1:-1, 1:-1] else (index[0] + index[1]) & 1],
        text_color='gray' if not value or value.isalnum() else 'white' if ord(value) < 9818 else 'black')
        for index, value in np.ndenumerate(chessman)][i:i + 10] for i in range(0, 100, 10)])]]
    </code></pre>
    <p>
    Виджет Text рисует шахматную доску и расставляет на ней фигуры так, как они расставлены в массиве chessman.<br>
    Теперь, создаем окно.
    </p>
    <pre><code class="python"><span class="badge float-right text-warning p-0">python</span>
    window = sg.Window('Chess', layout, icon=path, finalize=True)
    </code></pre>
    <p>
    Добавим в начало нашего кода строки, которые помогут нам отобразить иконку.
    </p>
    <pre><code class="python"><span class="badge float-right text-warning p-0">python</span>
    icon = "ico.ico"
    path = os.path.join(os.path.dirname(__file__), icon)
    </code></pre>
    <p>
    Цикл будет отслеживать события, например, нажатия на кнопки и обновлять содержимое окна.
    При выходе из цикла окно закроется.
    </p>
    <pre><code class="python"><span class="badge float-right text-warning p-0">python</span>
    while True:
        event, values = window.read()
        if event == 'button':
            play(values['-INPUT-'])
            window['-INPUT-'].update('')
        if event == sg.WIN_CLOSED or event == 'Exit':
            break
    window.close()
    </code></pre>
    <p>
    Запустим код и увидим нашу шахматную доску.
    </p>
    <img class="img-fluid img-thumbnail" width="100" src="{% static 'images/r5.webp' %}"><br>
    <p>
    Все получилось! Теперь добавим в список layout виджет Text, в котором будут выводиться сообщения (подсказки -
    какие фигуры ходят, сообщения об ошибках), виджет Input, в котором будем вводить ход и разместим пару кнопок.
    </p>
    <pre><code class="python"><span class="badge float-right text-warning p-0">python</span>
    [sg.Text(text=f'{player[0]} move, for example e2e4', key='-OUTPUT-',
     text_color='green', font='arial 16 bold', background_color='white')],
    [sg.Input(focus=True, font='arial 16 bold', justification='center', key='-INPUT-')],
    [sg.Button('Enter', key='button'), sg.Exit()]]
    </code></pre>
    <p>
    Добавим дублирование кнопки Enter клавишей Enter и немного упорядочим отображение виджетов в окне.<br>
    Внешний вид готов!<br>
    Далее создадим две функции.
    </p>
    <pre><code class="python"><span class="badge float-right text-warning p-0">python</span>
    def message(txt, clr):
    window['-OUTPUT-'].update(txt, text_color=clr)
    </code></pre>
    <p>
    def message будет обновлять сообщения в виджете Text.
    </p>
    <pre><code class="python"><span class="badge float-right text-warning p-0">python</span>
    def play(move):
    try:
        if (dl[move[0]] == dl[move[2]] and dn[move[1]] == dn[move[3]]) or len(move) != 4 or \
           (9824 > ord(chessman[1:-1, 1:-1][dn[move[1]], dl[move[0]]]) > 9817 and player[0] == "White's") or \
           (9818 > ord(chessman[1:-1, 1:-1][dn[move[1]], dl[move[0]]]) > 9811 and player[0] == "Black's"):
            move = sp
        chessman[1:-1, 1:-1][dn[move[3]], dl[move[2]]] = chessman[1:-1, 1:-1][dn[move[1]], dl[move[0]]]
        chessman[1:-1, 1:-1][dn[move[1]], dl[move[0]]] = sp
        player.reverse()
        message(f'{player[0]} move', 'green')
    </code></pre>
    <p>
    В def play сначала сделаем простые проверки на правильность вводимого хода (так же, как и при создании приложения
    с помощью модуля Tkinter). Затем разместим шахматные фигуры в массиве chessman в соответствии с ходом и если
    ход прошел нашу проверку, поменяем игрока и выведем соответствующее сообщение. Если ход проверку не прошел -
    выведем сообщение об ошибке.
    </p>
    <pre><code class="python"><span class="badge float-right text-warning p-0">python</span>
    except (IndexError, TypeError, BaseException):
        message(f'Wrong move. {player[0]} move.', 'red')
    </code></pre>
    <p>
    Затем, обновим положение шахматных фигур в окне window.
    </p>
    <pre><code class="python"><span class="badge float-right text-warning p-0">python</span>
    else:
        for index, value in np.ndenumerate(chessman):
            window[index].update(
                value,
                text_color='gray' if not value or value.isalnum()
                else 'white' if ord(value) < 9818 else 'black')
    </code></pre>
    <p>
    Вот и все! Проверяем и удовлетворенными идем пить кофе. У нас получилось еще меньше кода, чем с модулем Tkinter.
    Осталось дождаться следующего урока и учиться создавать шахматы для игры в браузере.
    </p>
</div>
