{% extends "account/base.html" %}
{% block head_title %}Выход{% endblock %}
{% block content %}
<div class="container text-center">

  <h1>Выход</h1>

  <p>Вы уверены, что хотите выйти?</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn btn-danger" type="submit">Выход</button>
  </form>
</div>
<br>
{% endblock %}
