{% extends "account/base.html" %}

{% load account %}

{% block head_title %}Сброс пароля{% endblock %}

{% block content %}

<div class="card border-primary mb-3 text-center mx-auto" style="max-width: 30rem;">
    <div class="card-header bg-primary">
        <h1 class="card-title text-white">Сброс пароля</h1>
    </div>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="card-text p-2">Забыли пароль? Введите свой адрес электронной почты ниже, и мы отправим вам электронное письмо, позволяющее вам сбросить его.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="card-body">
        {{ form.as_p }}
        </div>
        <input class="text-danger" type="submit" value="Reset My Password" />
    </form>

    <p class="card-text p-2">Пожалуйста, свяжитесь с нами, если у вас возникнут проблемы с восстановлением пароля.</p>
</div>
<script type="text/javascript">
  $(function() {
    $('#id_email').addClass('form-control');
  });
  $("label:first").remove();
</script>
<style>
    ul {
      list-style-type: none;
      margin-left: 0;
      padding-left: 0;
      color: red;
    }
</style>
{% endblock %}
